*{
    padding: 0;
    margin:0;
    transition: .2s;
    scroll-behavior: smooth;
}
.navbar{
    display: flex;
    align-items: right;
    justify-content: right;
    width:100%;
    height: 50px;
    position:fixed;
}
.nav-item{
    color:white;
    text-decoration: none;
}
ul{
    margin-top: auto;
    margin-bottom: auto;
}
li{
    display: inline;
    color:white;
    list-style-type: none;
    margin-right: 30px;
    font-size: 30px;  
}
.main{
    background-image: url("../images/COVID-19_Background.jpg");
    background-position: center;
    background-attachment: fixed;
    background-repeat: repeat;
    background-size: cover;
    height:100%;
}
.maindiv{
    padding-top: 70px;
}
.heading{
    padding-top: 30px;
    text-align: center;
    color: white;
    font-family: 'Luckiest Guy', cursive;
    font-size: 70px;
    
}
.subheading{
    /*font-size: 50px;*/
    text-align: center;
    color: white;
}
.search{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 25px;
}
#srbr{
    
    border-radius: 35px;
    border: none;
    width:40%;
    height: 50px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    opacity: .9;
    
}
.srbtn{
    display: flex;
    align-items: center;
    justify-content: center;
}
#butn{
    width:100px;
    height:50px;
    font-weight:bolder;
    background-color: rgb(255, 196, 0,.99);
    border:none;
}
#butn:hover{
    background-color: rgba(255, 196, 0, 0.9);
    transition: .2s;
}
.res{
    margin-top: 30px;
}
.reshead{
    text-align:center;
    color:white;
    font-family: 'Roboto Condensed', sans-serif;
}

.rsdiv{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top:1px;
    transition: .2s;
}
.fntclr{
    color:white;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
}
.cnfrm{
    width:100px;
    height:60px;
}
.rcvr{
    width:90px;
    height: 90px;
}
.dth{
    width:60px;
    height:60px;
}
.footer_text{
    text-align: center;
    color: white;
    text-decoration: none;
    opacity:.6;
    margin-top: 18px;
}
.chart{
    width:600px;
    color:white;
}
#myChart{
    color:white;
}

@media(max-width:650px){
    .nav-item{
        font-size: 17px;
    }
    .main{
        background-image: url("../images/COVID-19_mobile.jpg");
        background-position: left;
        /*background-repeat: repeat;*/
        background-size: cover;
        background-attachment: fixed;
        height:100%;
    }
    .maindiv{
        padding-top: 10px;
    }
    .heading{
        font-size: 40px;
    }
    .subheading{
        font-size: 15px;
    }
    #srbr{
        width:90%;
        height:35px;
    }
    #butn{
        width:60px;
        height:30px;
    }
    .res{
        margin-top: 15px;
    }
    .rsdiv{
        flex-direction: column;
        margin-top:12px ;
    }
    .cnfrm{
        width:130px;
        height: 80px;

    }
    .rcvr{
        width:110px;
        height:110px;
    }
    .dth{
        width: 80px;
        height:80px;
    }
    .fntclr{
        font-size: 18px;
        
    }
    .chart{
        width:90%;
        color:white;
    }

}
