*{
    padding: 0;
    margin:0;
    transition: .2s;
}
.main{
    background-image: url("../images/COVID-19_Background.jpg");
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
    height:100%;
}
.maindiv{
    padding-top: 100px;
}
.heading{
    padding-top: 30px;
    text-align: center;
    color: white;
    font-family: 'Luckiest Guy', cursive;
    font-size: 70px;
    
}
.subheading{
    /*font-size: 50px;*/
    text-align: center;
    color: white;
}
.search{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 25px;
}
#srbr{
    
    border-radius: 35px;
    border: none;
    width:40%;
    height: 50px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    opacity: .9;
    
}
.srbtn{
    display: flex;
    align-items: center;
    justify-content: center;
}
#butn{
    width:100px;
    height:50px;
    font-weight:bolder;
    background-color: rgb(255, 196, 0,.99);
    border:none;
}
#butn:hover{
    background-color: rgba(255, 196, 0, 0.9);
    transition: .2s;
}
.res{
    margin-top: 30px;
}
.reshead{
    text-align:center;
    color:white;
    font-family: 'Roboto Condensed', sans-serif;
}
.cnfrm{
    width:100px;
    height:60px;

}
.rsdiv{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top:50px;
    transition: .2s;
}
.fntclr{
    color:white;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
}
.rcvr{
    width:90px;
    height: 90px;
}
.dth{
    width:60px;
    height:60px;
}
@media(max-width:510px){
    .main{
        background-image: url("../images/COVID-19_mobile.jpg");
        background-position: center;
        background-repeat: repeat;
        background-size: cover;
        height:100%;
    }
    .heading{
        font-size: 40px;
    }
    .subheading{
        font-size: 15px;
    }
    #srbr{
        width:90%;
        height:35px;
    }
    #butn{
        width:60px;
        height:30px;
    }

}